/* ::-webkit-scrollbar { 
    display: none; 
} */

*{
	cursor: crosshair;

	margin: 0;
	padding: 0;

	font-family: 'Roboto Mono', sans-serif;

	font-size: 20px;
	font-weight: normal;
	color:white;

	background-color: black;
}

.logo{
	margin-left: 50px;
	margin-top: 50px;

	width: 80px;
}


.second_block{
	display: flex;
}



.bio{
	margin-top: 300px;
	margin-left: 50px;

	max-width: 700px;

	line-height: 1.5em;
}

ul{
	list-style: none;
}

.soc_media{
	position: fixed;
	text-align: right;
	vertical-align: bottom;

	margin-top: 430px;
	margin-left: 300px;
}

li{
	color: white;
	padding: 5px;
}




a{
	font-size: 15px;
	text-transform: lowercase;
	font-weight: 500;
}

a:hover{
	color: #ccff24;
	transition: 0.2s;
}